<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delexa.chudobilet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SubMenu.EventActivity" />
        <activity android:name=".SubMenu.EstablishmentActivity" />
        <activity android:name=".SubMenu.OrderActivity" />
        <activity android:name=".SubMenu.SubscriberActivity" />
        <activity android:name=".SubMenu.EditSubscriptionInterestActivity" />
        <activity android:name=".SubMenu.NewsActivity"></activity>
    </application>

</manifest>